
@{
    ViewBag.Title = "save";
}
<canvas id='myCanvas' style='position:absolute; left:0px; top:0px;' />
<link href="~/Content/Style1.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>
    <script>
        var cnvs = document.getElementById('myCanvas');
       cnvs.width = window.innerWidth;
        cnvs.height = window.innerHeight;

        var Lat =@Session["Lat"];
        var Lon = @Session["Lon"];
        var ctx = cnvs.getContext('2d');
        createPoint(ctx, Lat, Lon);
        var during = @Session["during"] * 1000;

        var IntervalTime = @Session["time"] * 1000;
        
        myTimer = (function () {
            $.post("@Url.Action("GetFlightDataToFile")").done(function (xml) {
                createLine(ctx, Lat, Lon, xml);
        });
        });

        var interval =setInterval(myTimer, IntervalTime);
      

        outTimer = (function () {
            clearInterval(interval);
            $.post("@Url.Action("SaveToXML")").done();
            alert("Time of recording is over");
        });
        setTimeout(outTimer, during);
  
        

       

    </script>
</body>


